body {
  margin: 0;
  padding: 10px;
  background: #ECEFF1;
  font: 12.2px Verdana, sans-serif;
  color: #000;
  text-align: left;
}

input, textarea, select {
	color: #000;
	font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

h1 {
  font-size: 1.7em;
  color: black;
}

h2 {
  font-size: 1.6em;
  line-height: 130%;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

quote, code, fieldset {
  margin: .5em 0;
}

code, pre, kbd {
  font-size: 115%;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
  color: #000;
}

a:link,
a:visited {
  color: #00adef;
  text-decoration: underline;
}

a:hover {
  color: #141309;
  text-decoration: underline;
}

a:active,
a.active {
  color: #555555;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #4f4f4f;
}

ul, ol {
  margin: 0.5em 0 1em;
  padding: 0 0 0 1.5em; /* LTR */
}


dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img,
a img {
  border: none;
}

table, td, th{
	border-collapse: collapse;
	border: 1px solid #00ADEF;
	padding: 2px;
	vertical-align: top;
}


th{
	font-size: 0.8em;
	text-align: left;
	background: #ffffff;
	padding: 3px;
}


.browser-features-missing{
	background-color: #FFBDBE;
	border: 3px solid red;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding: 15px;
	margin-bottom: 32px;
}


/* config */

.config, .def{
	background: #80CBC4;
	
	border: 2px solid #004D40;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	margin: 10px 10px 10px 0px;
	padding: 1em 1em 1.5em;
}

.config{
	-webkit-column-width: 20em;
	-webkit-column-gap: 20px;
	-moz-column-width: 20em;
	-moz-column-gap: 20px;
	column-width: 20em;
	column-gap: 20px;
}


.config > .form-item{
	margin-bottom: 1em;
    margin-top: 1em;
	
	padding-left: 2em;
	
	break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	-moz-break-inside: avoid;
	
	display: inline-block;
	
	width: 20em;
}

.config .form-item.disable.disabled{
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* keep heading out of column layout */
.config > h2:first-child{
	position: absolute;
}
.config > *:nth-child(2){
	margin-top: 2.5em;
}



.config > .form-item > h3{
	font-size: inherit;
	font-weight: bold;
	font-family: inherit;
	
	margin-left: -2em;
}

.config label{
	display: block;
	
}

.config label.option{
	display: inline;
	font-weight: normal;
}

.config .description{
	font-size: 0.92em;
	color: #000;
	line-height: 150%;
	margin-top: 0.4em;
	margin-bottom: 0.75em;
}
.config input{
	font-size: 1em;
}
.legend{
	float: left;
	width: 50% !important;
}

.legend table, .legend td, .legend th{
	border-style: none;
	padding:2px;
}


.simulation{
	border: 1px solid black;
	/*overflow: hidden;*/
	background-color: #fff;
}

input[type=range]{
    background: #D8D8D8;
    height: auto;
}

input[type=range]::-webkit-slider-thumb{
    background: #00adef;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
#svg{
	-webkit-transform: rotate(-90deg) scale(-1, 1);
    -ms-transform: rotate(-90deg) scale(-1, 1);
    transform: rotate(-90deg) scale(-1, 1);
    -moz-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	margin-right: 2%;
}